nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
}
main, header, footer {
  margin-left: 20%;
}

/* 기본 스타일 */
nav ul li a {
  font-size: 1rem; /* 16px */
}

/* 미디어 쿼리를 사용하여 반응형 글자 크기 조정 */
@media (max-width: 768px) {
  nav ul li a {
    font-size: 0.75rem; /* 14px */
  }
}

@media (max-width: 568px) {
  nav ul li a {
    font-size: 0.5rem; /* 12px */
  }
  nav {
    display: none;
  }
  main, header, footer {
    margin-left: 0%;
  }
}