/* 기본 스타일 */
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: block; /* 기본적으로 열려있음 */
}

main, footer {
  margin-left: 20%;
}

nav ul li a {
  font-size: 1rem; /* 16px */
}

#nav-toggle {
  float: right;
  visibility: hidden;
}

/* 미디어 쿼리를 사용하여 반응형 글자 크기 조정 */
@media (max-width: 768px) {
  nav ul li a {
    font-size: 0.75rem;
  }
}

@media (max-width: 568px) {
  nav {
    display: none; /* 화면 크기가 568px 이하일 때 기본적으로 숨김 */
  }
  nav.open {
    display: block; /* .open 클래스가 추가되면 표시 */
    width: 50%;
    z-index: 1200;
  }
  main, footer {
    margin-left: 0%;
  }
  #nav-toggle {
    visibility: visible;
  }
}
